html ,body{
  height: 100%;
}

body{
  font-size: 0.8rem;
  font-family: 'Ubuntu', sans-serif;
}

.btn{
  font-size: 0.8rem;
}

.row,.bg-dark{
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.sectionhead {
  color: white !important;
  cursor: pointer;
}

.list-group-item{
  padding: .25rem .75rem;
}

.right{
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.menu{
  cursor: pointer;
}

.left-panel :hover{
  color: #004085;
  background-color: #b8daff;
}

.bg-info > a{
  color: white;
}

.theme > h4 > span{
  cursor: pointer;
}

.ddark{
  background-color: black;
  color: white !important;
}

.ddark > #right-panel > table {
  color: white !important;
}

.ddark > #right-panel > table > tbody > .bg-light{
  background-color: #0e1620  !important;
  color: white !important;
}

.ddark > #right-panel > table > tbody > .bg-light-completed{
  background-color: #0f2216!important;
  color: white !important;
}



.down-arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.bar{
  width: 35px;
  height: 4px;
  background-color: #17a2b8;
  margin: 8px 0;
}


.switcher:hover > .bar {
  background-color: white;
}

.bg-light-completed {
    background-color: #daffe8!important;
}
/* .sp {
    position: absolute;
    width: 80%;
    z-index: 100;
    height: 100%;
    display: block !important;
} */

@media only screen and (max-width: 756px) {
  .sp {
    position: absolute;
    z-index: 100;
    height: 100%;
    display: block !important;
    font-size: 1rem;
    transition: left 0.5s linear;
    left: -320px;
    width: 300px;
    overflow-x: hidden;
  }


  .supersp{
    left : 0px;
    transition: left 0.5s linear;
  }
}

/* .bg-light{
  background-color: #b8daff!important;
}

.table-bordered td,th{
  border-color: black !important;
} */
